body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0;
  padding: 10px 29px 10px 29px;
}

.AppRight {
  position: absolute;
  top: 159px;
  left: 224px;
}

@media all and (max-width: 1024px) {
  .AppRight {
    top: 125px;
    left: 145px;
  }
}